.page-containers(style='color : white')
        .col-md-12.page-404(style='text-align:center')
            h1.number.font-green  404
            .details
            h3 Oops! You're lost.
            p  We can not find the page you're looking for.
            h1
              a(href='/dashboard',style='text-decoration:none') Take me home