<div class="page-sidebar navbar-collapse collapse">
    <ul data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" class="page-sidebar-menu">
      <li routerLinkActive="active" class="start nav-item"><a href="javascript:;"><span class="title">Manage My License</span><span class="selected"></span></a></li>
      <li routerLinkActive="active" class="nav-item"><a href="javascript:" class="nav-link nav-toggle"><span class="title">License Generation</span><span class="arrow"></span><span class="selected"></span></a>
        <ul class="sub-menu">
          <li routerLinkActive="active"><a href="javascript:;"> Request License for Deloitte Hardware</a><span class="selected"></span></li>
          <li routerLinkActive="active"><a href="javascript:;"> Request License for Third Party Hardware</a><span class="selected"></span></li>
        </ul>
      </li>
      <li routerLinkActive="active" class="nav-item"><a href="javascript:" class="nav-link nav-toggle"><i class="icon-user"></i><span class="title">Resource Manager</span><span class="arrow"></span><span class="selected"></span></a>
        <ul class="sub-menu">
          <li routerLinkActive="active"><a href="javascript:;"> Manage Licenses</a><span class="selected"></span></li>
          <li routerLinkActive="active" class="nav-item"><a href="javascript:" class="nav-link nav-toggle"><span class="title">License Generation</span><span class="arrow"></span><span class="selected"></span></a>
            <ul class="sub-menu">
            <li routerLinkActive="active"><a href="javascript:;"> Create customer license</a><span class="selected"></span></li>
            <li routerLinkActive="active"><a href="javascript:;"> Create a developer license</a><span class="selected"></span></li> 
            </ul>
          </li>
            <li routerLinkActive="active"><a href="javascript:;"> Manage customers / patners</a><span class="selected"></span></li>
        </ul>
      </li>
    </ul>
  </div>